.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

.jumbotron p a{
    color: black;
    text-decoration: none;
}

.jumbotron p a:hover{
    color: salmon;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.p2 {
    color : red;
}


.footer .footer-media {

    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    color: dark;
}

footer p a{
    color: white;
    text-decoration: none;
}
footer p a:hover{
    color: salmon;
    transition: 0.3s;
}